---
import '../styles/global.css';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<!--  svg x qualità <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
		<link type="image/png" rel="icon" href="/moon.png"/>
		<meta name="generator" content={Astro.generator} />
		<title>Coming Soon</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		background-color: white;
		height: 100%;
  	margin: 0;
	}
</style>
